@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <img src="Images/Bosch-logo.png" style="height: 22px;"/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
