@page "/newProduct"
@using SmartLine.Services.AlertService
@using SmartLine.Services.DemandService
@using SmartLine.Model

@using SmartLine.Components.Shared.ConfirmButton

@inject IAlertService AlertService
@inject IDemandRepository _demandRepository
@inject NavigationManager navigationManager

<h1>Demanda</h1>

<div style="display: flex;">
    <div>
        <input type="text" class="form-control" />
        <input type="text" class="form-control" />


        <p>Modelo de trabalho</p>
        <label for="contactChoice1">Padrão</label>
        <input type="radio" id="contactChoice2" class="form-control" value="padrao" />

        <label for="contactChoice1">Dedicado</label>
        <input type="radio" id="contactChoice2" class="form-control" value="dedicado" />

        <label for="contactChoice1">Ambos</label>
        <input type="radio" id="contactChoice2" class="form-control" value="ambos" />


        <p>Células restritas</p>
        <ConfirmButton Text="Adicionar célula" OnClick="NewCell" />
    </div>
    <div>
        Células muito loucas

        <ConfirmButton Text="Salvar" OnClick="Save" />
        <ConfirmButton Text="Cancelar" OnClick="Cancel" />
    </div>
</div>



@code
{
    public void NewCell()
    {

    }

    public void Save()
    {

    }

    public void Cancel()
    {

    }
}
